@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* ヘッダー */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  //text-transform: uppercase;
  font-style: italic;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: grey;
  text-decoration: none;
}

#menu {
  color: white;
  font-weight: bold;
}

#menu:hover {
  color: grey;
}

.navbar {
  background-color: teal;
}
  

.navbar-nav > .dropdown > a.dropdown-toggle {
  color: white;
}

.navbar-nav > .dropdown > a.dropdown-toggle:hover {
  color: grey;
}

.navbar-nav > .dropdown.open > a.dropdown-toggle {
  color: grey;
  background-color: teal;
}

.navbar-nav > .dropdown.open > a.dropdown-toggle :hover {
  color: grey;
  background-color: teal;
}

.dropdown {
  font-weight: bold;
}

/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
